.about-us-container {
    width: 70vw;
    text-align: justify;
  }
  
  .about-us-heading {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 1.3rem;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-content {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }